/* Header.css */
.header {
    background-color: #9EB384;
    color: #;
    display: flex;
    /* position: fixed; */
    width: 98%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

.navList {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.navItem a {
    color: #fff;
    text-decoration: none;
}

